@import 'mixins';

body {
    font-family: Helvetica, sans-serif;
    margin-top: 20px;
}

.loading-spinner {
    text-align: center;
    padding-top: 30px;
}

.btn-copy {
    margin: 5px;
}

.github-login {
    display: block;
    margin: 20px auto;
}

.diff-ahead, .diff-behind {
    vertical-align: middle;
    @include text-truncate;
    display: inline-block;
    border: 1px solid;
    color: #fff;
    margin: 3px;
    padding: 3px 6px;
    border-radius: 3px;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.diff-explanation {
    div {
        height: 35px;
        a {
        }
        p {
            display: inline-block;
            width: calc(100% - 130px);
            margin: 0;
            vertical-align: middle;
            line-height: 14px;
        }
    }
}

$base-red: #d9534f;
.diff-behind {
    background-color: $base-red;
    border-color: darken( $base-red, 10% );
    &:hover {
        background-color: darken( $base-red, 10% );
        border-color: darken( $base-red, 20% );
    }
}

$base-green: #4cae4c;
.diff-ahead {
    background-color: $base-green;
    border-color: darken( $base-green, 10% );
    &:hover {
        background-color: darken( $base-green, 10% );
        border-color: darken( $base-green, 20% );
    }
}

table.overview {
    thead {
        td {
            text-transform: capitalize;
            text-align: center;
            font-size: 20px;
        }
    }

    tbody {
        tr:nth-child(odd) {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background-color: #eee;
        }
        td {
            border-right: 1px solid #ddd;
            padding: 3px 6px;

            &.identical {
                opacity: 0.3;
            }
        }
    }
}

.selected-pull-request-container {
    margin: 5px 0px;
    background: #eee;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    position: relative;

    /* duplicate...*/
    .title {
        display: inline-block;
        vertical-align: middle;
        @include text-truncate;
        width: calc(100% - 85px);
    }

    .number {
        font-weight: bold;
        margin: 0 5px 0 10px;
        vertical-align: middle;
    }

    .glyphicon {
        float: right;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 16px;
    }

    .image img {
        vertical-align: middle;
        height: 30px;
    }

}

@import 'autocomplete';
