@import 'mixins';

body {
    font-family: Helvetica, sans-serif;
    margin-top: 20px;
}

.loading-spinner {
    text-align: center;
    padding-top: 30px;
}

.btn-copy {
    margin: 5px;
}

.github-login {
    display: block;
    margin: 20px auto;
}


table.overview {
    thead {
        td {
            text-transform: capitalize;
            text-align: center;
            font-size: 20px;
        }
    }

    tbody {
        tr:nth-child(odd) {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background-color: #eee;
        }
        td {
            border-right: 1px solid #ddd;
            padding: 3px 9px;

            .diff-ahead, .diff-behind {
                vertical-align: middle;
                @include text-truncate;
                display: inline-block;
                color: white;
                border: 1px solid #333;
                margin: 3px 0;
                padding: 3px 6px;
                border-radius: 3px;
            }

            .diff-behind {
                background-color: red;
            }

            .diff-ahead {
                background-color: green;
            }

        }
    }
}

.selected-pull-request-container {
    margin: 5px 0px;
    background: #eee;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    position: relative;

    /* duplicate...*/
    .title {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 85px);
    }

    .number {
        font-weight: bold;
        margin: 0 5px 0 10px;
        vertical-align: middle;
    }

    .glyphicon {
        float: right;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 16px;
    }

    .image img {
        vertical-align: middle;
        height: 30px;
    }

}

@import 'autocomplete';
